.gradient-custom {
    background: #6a11cb;
    height: auto;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
.n1{
    border-radius: 1rem;
}    


